@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: local('Cousine'), url(https://fonts.gstatic.com/s/cousine/v10/S-JOYqoHekxYm2RHFzWYtgLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: local('Cousine Bold'), local('Cousine-Bold'), url(https://fonts.gstatic.com/s/cousine/v10/XkYjaL8YjqL9qW8o0T14ub3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 400;
  src: local('Cousine Italic'), local('Cousine-Italic'), url(https://fonts.gstatic.com/s/cousine/v10/0VdvlOBfHobA4eW-NVYk-bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 700;
  src: local('Cousine Bold Italic'), local('Cousine-BoldItalic'), url(https://fonts.gstatic.com/s/cousine/v10/y_AZ5Sz-FwL1lux2xLSTZaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

/* latin */
@font-face {
  font-family: 'Over the Rainbow';
  font-style: normal;
  font-weight: 400;
  src: local('Over the Rainbow'), local('OvertheRainbow'), url(https://fonts.gstatic.com/s/overtherainbow/v7/6gp-gkpI2kie2dHQQLM2ja7pfPjgI8r7NxNPh3rLTlQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}