$banner: '[role="banner"]';

header {
	display: flex;
	flex-wrap: wrap;
}

#{$banner} {
	display: flex;
	order: 0;
	width: 100%;
	flex-wrap: wrap;
	padding-top: 1.2em;

	&:after {
		content: url('../images/coffeering.svg');
		width: 200px;
		position: absolute;
		top: 2em;
		right: 0em;
		opacity: 0.6;
	}
}

#{$banner}>h1 {
	width: 100%;
	margin: 0;
	text-transform: uppercase;
}

#{$banner}>span {
	width: 100%;
}

#{$banner}>hr {
	margin-top: 1em;
	width: 100%;
}

header>p {
	order: 1;
	margin: 1em;
	padding: 1em;
	width: 100%;
	text-align: center;
	box-shadow: 2px 2px 8px #ADADAD;
	background-color: #F9F9F9;
}

.biopic {
}

#topContacts {
	order: 3;
	max-width: 100%;
	&:before {
		@include annotation ("call him later", 11em, 1em, -14);
		font-size: 1.6em;
		text-decoration: underline;
		@include mobileFirst(500px) {
			top: 19em;
		}
	}
}

#skills {
	order: 4;

	&:before {
		@include annotation ("ask IT for Yeoman", 62em, 4em, -16);
		@include mobileFirst(500px) {
			top: 70em;
		}
	}
	&:after {
		@include annotation ("speaks Spanish, amigo!", 70em, 4em, -12);
		@include mobileFirst(500px) {
			top: 78em;
		}
	}
}

.contact-label {
	text-transform: uppercase;
	color: $colorGrey;
	&:after{
		content: ":";
		margin-right: 0.2em;
	}
}

.contact-data {
	font-size: 0.8em;
}