$banner: '[role="banner"]';

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#{$banner} {
	display: flex;
	order: 0;
	width: 100%;
	flex-wrap: wrap;
	padding-top: 1.2em;

	&:after {
		content: url('../images/coffeering.svg');
		width: 200px;
		position: absolute;
		top: 2em;
		right: 0em;
		opacity: 0.6;
		@include mobileFirst(800px) {
			top: 5em;
			left: 60%;
		}
	}
}

#{$banner}>h1 {
	width: 100%;
	margin: 0;
	text-transform: uppercase;
}

#{$banner}>span {
	width: 100%;
}

#{$banner}>hr {
	margin-top: 1em;
	width: 100%;
}

header>p {
	order: 0;
	margin: 1em;
	padding: 1em;
	width: 100%;
	text-align: center;
	box-shadow: 2px 2px 8px #ADADAD;
	background-color: #F9F9F9;

	@include mobileFirst(560px) {
		width: 50%;
	}
}

#topContacts {
	order: 2;
	width: 100%;
	&:before {
		@include annotation ("call him later", 11em, 1em, -14);
		font-size: 1.6em;
		text-decoration: underline;
		@include mobileFirst(500px) {
			top: 19em;
		}
		@include mobileFirst(560px) {
			top: 16em;
			right: 13em;
			margin-top: 1em;
			order: 3;
		}
		@include mobileFirst(800px) {
			top: 20em;
			right: 43%;
		}
	}
}

#skills {
	order: 3;
	&:before {
		@include annotation ("ask IT for Yeoman", 62em, 4em, -16);
		@include mobileFirst(500px) {
			top: 70em;
		}
		@include mobileFirst(560px) {
			top: 30em;
		}
		@include mobileFirst(1000px) {
			top: 28em;
			right: 15%;
		}
		@include mobileFirst(1400px) {
			top: 28em;
			right: 30%;
		}
	}
	&:after {
		@include annotation ("speaks Spanish, amigo!", 70em, 4em, -12);
		@include mobileFirst(500px) {
			top: 78em;
		}
		@include mobileFirst(560px) {
			top: 35em;
		}
		@include mobileFirst(1000px) {
			top: 35em;
			right: 15%;
		}
		@include mobileFirst(1400px) {
			top: 35em;
			right: 30%;
		}
	}

	@include mobileFirst(560px) {
		order: 1;
		width: 40%;
	}
}

.contact-label {
	text-transform: uppercase;
	color: $colorGrey;
	&:after{
		content: ":";
		margin-right: 0.2em;
	}
}

.contact-data {
	font-size: 0.8em;
	
	@include mobileFirst(600px) {
		font-size: 1em;
	}
}