// bower:scss
// endbower

@import "variables";
@import "fonts";
@import "mixins";
@import "header";
@import "footer";

body {
  font-size: $fontSize;
  font-family: 'Cousine', serif;
  color: $colorBlack;
  width: 100vw;
  padding: 0.5em;
  &:before {
  	content: url('../images/paperclip-small.png');
  	position: absolute;
		right: 1em;
		top: 0.2em;
		@include mobileFirst(760px) {
			right: 40%;
		}
  }
  @include folderBackground();
}

#coffee {
	display: hidden;
	@include mobileFirst(1200px) {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 300px;
		height: 300px;
		overflow: hidden;
		&:before {
			position: relative;
			display: block;
			overflow: hidden;
			top: -3em;
			right: 0;
			width: 300px;
			content: url('../images/coffee.svg');
		}
	}
}

#pen {
	display: hidden;
	@include mobileFirst(1200px) {
		display: block;
		position: absolute;
		top: 35em;
		right: 0;
		width: 400px;
		height: 50px;
		overflow: hidden;
		transform: rotate(20deg);
		&:before {
			position: relative;
			display: block;
			overflow: hidden;
			top: 0em;
			right: 0;
			width: 100%;
			content: url('../images/pen.svg');
		}
	}
}

img {
  max-width: 100%;
}

p {
	margin: 0em 0 3em 0;
}

#main {
  padding: 0 1.5em;
  min-height: 100vw;
  @include paperBackground();
  @include dropShadow();
  @include mobileFirst(980px) {
  	max-width: 980px;
  	padding: 0 3em;
  	margin-right: auto;
  	margin-left: auto;
  }
}

.location-text {
	color: $colorGrey;
	font-size: 0.8em;
}

.date-text {
	color: $colorGrey;
	font-size: 0.8em;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

#map {
  display: block;
  height: 300px;
  margin: 0 5%;
}

#mapDiv {
  height: 100%;
  width: 100%;
  padding-bottom: 5%;
}

.project-entry {
	&>img {
		margin-right: 2%;
		@include mobileFirst (560px) {
			width: 49%;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}